.header{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.header-conainer{
    width: 100%;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 22px;
    border-radius: 0 0 15px 15px;
    max-width: 1620px;
}

.header-logo{
    max-width: 330px;
    display: none;
}

.header-menu{
    display: flex;
    gap: 10px;
}

.header-menu__item{
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.7px;
    letter-spacing: 0.01em;
    cursor: pointer;
    padding: 10px 15px 12px;
    transition: .4s;
    border-radius: 15px;
    text-decoration: none;
}

.header-menu__item.active{
    pointer-events: none;
    cursor: default;
    background-color: #FEC400;
}

.header-menu__item:hover{
    background-color: #485460;
}

.header-link{
    display: flex;
    gap: 10px;
}

.header-link__social{
    width: 46px;
    height: 46px;
    transition: .4s;
}

.header-link__social.telegramm:hover svg rect:nth-child(1){
    fill: #82B8E2;
}
.header-link__social.vk:hover svg rect:nth-child(1){
    fill: #66ADFE;
}

.header-link__login{
    margin-left: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 15px 9px;
    background-color: #FEC400;
    cursor: pointer;
    transition: .4s;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    letter-spacing: 0.01em;
    color:#1E272E;
}

.header-link__login:hover{
    background-color: #FFA801;
}

.header.active .header-conainer{
    max-width: 1920px;
    background-color: #28333A;
}

.header.active .header-logo{
    display: block;
}

.header-menu__burger{
    background-color: #FEC400;
    border-radius: 15px;
    padding: 10px 15px 12px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:1750px){
    .header.active .header-logo{
        display: none;
    }

    .header-link__social{
        display: none;
    }

    .header-link__login{
        margin: 0;
    }
    
}

@media screen and (max-width:1440px){
    .header-menu__item {
        font-size: 16px;
    }
}

@media screen and (max-width:1280px){

    .header-menu__burger{
        display: flex;
    }

    .header-menu{
        display: none;
    }
    
    .header-conainer{
        padding: 16px 8px;
    }

}
