html{
    background-color: #1E272E;
}

body{
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

html{
    width: 1920px;
}


@media screen and (max-width:500px) {
    body{
        opacity: .4;
    }
}
