.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100001;
    background: #1E272E;
    padding: 16px 8px;
    transform-origin: right;
    transition: .4s;
    transform: scaleX(0);
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 375px;
}

.mobile-menu.active{
    transform: scaleX(1);
}

.mobile-manu__top{
    display: flex;
    justify-content: space-between;
}

.mobile-manu__top-link{
    display: flex;
    gap: 4px;   
}

.mobile-manu__top-link a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 56px;
    width: 56px;
    transition: .4s;
    cursor: pointer;
}

.mobileLk{
    background-color: #FEC400;
}

.mobileLk:hover{
    background-color: #FFA801;
}

.mobileTelegramm{
    background-color: #2F89CE;
}

.mobileTelegramm:hover{
    background-color: #82B8E2;
}

.mobileVk{
    background-color:#0076FD;
}

.mobileVk:hover{
    background-color:#66ADFE;
}

.mobile-manu__top-close{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 56px;
    width: 56px;
    background-color: #FEC400;
    transition: .4s;
}

.mobile-manu__top-close:hover{
    background-color: #FFA801;
}

.mobile-menu__bottom{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.mobile-menu__bottom .header-menu__item{
    text-align: right;
    max-width: fit-content;
    font-size: 20px;
    line-height: 23.7px;
}
