.registration{
    margin: 80px auto 0 150px;
    max-width: 1620px;
    width: 100%;
    background-color: #28333A;
    display: flex;
    gap: 65px;
    padding: 60px;
    border-radius: 15px;
}

.registration-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.registration-info__title{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.registration-info__title-header{
    font-size: 64px;
    font-weight: 500;
    line-height: 75.84px;
    letter-spacing: 0.01em;
    color: white;
}

.registration-info__title-description{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.01em;
    color: white;    
}

.registration-info__attemption{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.registration-info__attemption-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.01em;
    color: white;    
}

.registration-info__attemption-description{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.01em;
    color:#808E9B;
}

.registration-info__attemption-description a{
    color:#808E9B;
}

.registration-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 695px;
    width: 100%;
}

.registration-form input{
    background-color: #1E272E;
    padding: 21px 25px;
    border-radius: 15px;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.01em;
    color: white;
    border: none;
}


.registration-form input::placeholder{
    color: #808E9B;
}

.registration-form__checkbox{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    letter-spacing: 0.01em;
    color: white;
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
}

.registration-form__checkbox-check{
    background-color: #1E272E;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-form__checkbox .registration-form__checkbox-check svg{
    opacity: 0;
}

.registration-form__checkbox:hover .registration-form__checkbox-check svg{
    opacity: 1;
}

.registration-form__checkbox.active .registration-form__checkbox-check svg{
    opacity: 1;
}

.registration-form__checkbox.active .registration-form__checkbox-check svg path{
    stroke: #05C46B;
    opacity: 1;
}

.registration-form__checkbox.active:hover .registration-form__checkbox-check svg path{
    stroke: white;
}


.registration-form__button{
    text-decoration: none;
    background-color: #FEC400;
    border-radius: 15px;
    padding: 15px 45px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.01em;
    color: #1E272E;
    margin-top: 10px;
}

.registration-form__button:hover{
    background-color: #FFA801;
}

.registration-form__info{
    font-size: 20px;
    font-weight: 400;
    line-height: 23.7px;
    letter-spacing: 0.01em;
    text-align: left;
    color: white;
}

.registration-form__info a{
    color: white;
    transition: .4s;
}

.registration-form__info a:hover{
    color: #FEC400;
}

.registration-mobile__alert{
    display: none;
}

@media screen and (max-width:1620px){

    .registration{
        margin: 50px auto 0 auto;
        max-width: 99vw;
        width: 100%;
    }

}

@media screen and (max-width:1200px){

    .registration-info__attemption{
        display: none;
    }

    .registration{
        margin: 60px 0 0;
        max-width: 100%;
        padding: 30px 8px;
        flex-direction: column;
        gap: 16px;
    }

    .registration-info__title{
        gap: 16px;
    }

    .registration-info__title-header{
        font-size: 42px;
        line-height: 49.77px;
    }

    .registration-info__title-description{
        font-size: 18px;
        line-height: 21.33px;
    }

    .registration-form{
        gap: 8px;
        max-width: 100%;
    }

    .registration-form input{
        padding: 20px 12px;
        font-size: 16px;
        line-height: 18.96px;
    }

    .registration-form input:nth-child(4){
        margin-top: 8px;
    }

    .registration-form__checkbox{
        margin-top: 8px;
        font-size: 14px;
        line-height: 16.59px;
    }

    .registration-form__button{
        margin-top: 16px;
        padding: 12.5px 0 14.5px 0;
        font-size: 16px;
        line-height: 18.96px;
    }

    .registration-form__info{
        font-size: 14px;
        line-height: 16.59px;
    }
    
    .registration-mobile__alert{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }

    .registration-info__attemption-title{
        font-size: 18px;
        line-height: 21.33px;
    }

    .registration-info__attemption-description{
        font-size: 18px;
        line-height: 21.33px;
    }

}
