.services{
    margin: 50px auto 0 auto;
    max-width: 1620px;
    width: 100%;
}

.services-title{
    font-size: 64px;
    font-weight: 500;
    line-height: 75.84px;
    letter-spacing: 0.01em;
    color: white;
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 60px;
}

.services-list__item{
    display: flex;
    flex-direction: column;
    background-color: #28333A;
    border-radius: 15px;
    cursor: pointer;
    max-width: 390px;
    width: 100%;
}

.services-list__item-visible{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 20px 30px;
}

.services-item__visible-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.services-item__visible-top svg path{
    transition: .4s;
}

.services-item__visible-bottom{
    color: white;
    font-size: 32px;
    font-weight: 500;
    line-height: 37.92px;
    letter-spacing: 0.01em;
    max-width: 350px;
    transition: .4s;
}

.services-list__item:hover .services-item__visible-top svg path{
    stroke: #FEC400;
}

.services-item__visible-top .arrowAnim{
    transition: .4s;
}

.services-list__item-visible:hover .arrowAnim{
    margin: -10px -10px 0 0;
}

.services-list__item:hover .services-item__visible-bottom{
    color: #FEC400;
}

.services-list__item.active{
    padding: 50px 5px 0 20px;
    position: relative;
    cursor: default;
}

.services-list__item.active .services-list__item-visible{
    display: none;
}

.services-list__item-hidden{
    display: none;
    height: 0;
    transition: .4s;
    flex-direction: column;
}

.services-list__hidden-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.services-list__item-hidden span{
    max-height: 314px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.7px;
    letter-spacing: 0.01em;
    overflow-y: auto;
    padding-bottom: 100px;
    padding-right: 25px;
    scrollbar-width: thin;
    scrollbar-color: #808E9B #1E272E;
    -ms-overflow-style: none;
}

.services-list__hidden-button{
    position: absolute;
    bottom: 15px;
    text-decoration: none;
    background-color: #FEC400;
    border-radius: 15px;
    padding: 15px 45px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    letter-spacing: 0.01em;
    color: #1E272E;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 2;
}

.services-list__hidden-shadow{
    background: linear-gradient(180deg, rgba(40, 51, 58, 0) 0%, #28333A 100%);
    height: 94px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1;
    left: 0;
    border-radius: 0 0 15px 15px;
}

.services-list__item.active .services-list__item-hidden{
    display: flex;
    height: 100%;
}

.services-list__item-hidden span::-webkit-scrollbar {
    width: 5px;
    max-height: 50%; height: 50%;
}

.services-list__item-hidden span::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px #808E9B; 
    border-radius: 14px;
}

.services-list__item-hidden span::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #1E272E;
    max-height: 50%; height: 50%;
}

.services-list__item-hidden span::-ms-scrollbar {
    width: 5px;
}

.services-list__item-hidden span::-ms-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px #808E9B; 
    border-radius: 14px;
}

.services-list__item-hidden span::-ms-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #1E272E; 
}

.services-list__item-hidden span::-webkit-scrollbar-button{
    display: none;
}

.services-mobile__open{
    display: none;
    text-decoration: none;
    background-color: #FEC400;
    border-radius: 15px;
    padding: 12.5px 25px 14.5px 45px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.86px;
    letter-spacing: 0.01em;
    color: #1E272E;
    width: fit-content;
    margin: 20px auto 0;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width:1620px){

    .services{
        margin: 50px auto 0 auto;
        max-width: 85%;
        width: 100%;
    }

    .services-list__item{
        max-width: 32%;
    }

}

@media screen and (max-width:1240px){

    .services-list__item{
        max-width: 48%;
    }

}

@media screen and (max-width:880px){

    .services{
        margin: 60px 0 0;
        max-width: 100%;
        padding: 0 8px 0 8px;
    }

    .services-title{
        font-size: 42px;
        line-height: 49.77px;
    }

    .services-list{
        margin-top: 28px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 8px;
        overflow: hidden;
    }

    .services-list__item{
        max-width: 100%;
    }

    .services-list__item-visible{
        padding: 16px;
    }

    .services-item__visible-top{
        margin-bottom: 12px;
    }

    .services-item__visible-top svg:first-child{
        width: 64px;
        height: 64px;
    }

    .services-item__visible-top .arrowAnim{
        width: 32px;
        height: 32px;
    }

    .services-item__visible-bottom{
        font-size: 24px;
        font-weight: 500;
        line-height: 28.44px;
        letter-spacing: 0.01em;
        max-width: 100%;
    }

    .services-list__item.active{
        padding:48px 0 0 16px;
    }

    .services-list__hidden-close{
        width: 32px;
        height: 32px;
        top: 16px;
        right: 16px;
    }

    .services-list__item-hidden span{
        padding-right: 16px;
        font-size: 14px;
        line-height: 16.59px;
        max-height: 311px;
    }

    .services-list__hidden-button{
        padding: 12.5px 67px 14.5px;
        font-size: 16px;
        line-height: 18.96px;
    }

    .services-mobile__open{
        display: flex;
    }

    .services-mobile__open:hover{
        background-color: #FFA801;
    }
    
    .services-mobile__open svg{
        transition: .4s;
    }
    
    .services-mobile__open.active svg{
        transform: rotateX(180deg);
    }

}
